.card {
	width: 200px;
	height: 100px;
	border-radius: 4px;
}

.card.gain {
	border: 1px solid green;
}

.card.loss {
	border: 1px solid red;
}

.card .name {
padding: 8px 12px;
font-weight: bold;
}

.card .name span {
	margin: 0px 0px 0px 4px;
	font-weight: normal;
}

.card .percentage{
	font-size: 0.9em
}

.card .percentage.gain,
.card .price.gain {
	color: green;
}

.card .percentage.loss,
.card .price.loss {
	color: red;
}