body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('')
}

.App {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: fbd685;
  text-shadow: 0 1px 2px rgba(black,.15);
}

.box {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.off {
  background-color: lightgray;
}

.on {
  background-color: #630000;
}
  
.box:hover { 
  background: #00CCFF;
}

.grid {
  width: 370px;
  height: 350px;
  line-height: 0;
  margin: auto;
 
  margin-top: 20px;

}

.button {
  cursor: pointer;
  margin: 10px;
}

.buttonGroup {
  margin: 40px;
}